.contact-icon{
    color: var(--secondary-color);
    font-size: 30px;
    margin-right: 15px;
}

.contact-title{
    font-family: var(--font-1);
    font-size: 28px;
    color: var(--secondary-color);
    font-weight: 500;
}

.contact-detail p{
    margin-bottom: 0;
    font-family: var(--font-2);
    font-size: 18px;
    color: var(--white);
    margin-top: 8px;
}