.project{
    height: 100%;
    min-height: 350px;
    border: 1px solid var(--bg-color);
    overflow: hidden;
    transition: all 0.65s ease;
    border-radius: 8px;
}

.project a{
    display: block;
    height: 100%;
    width: 100%;
    transition: background-position .3s ease-in;
    background-position: top center;
    background-size: cover;
}

.project:hover{
    transform:translateY(-10px);
    border: none;
    box-shadow: 0 0 20px var(--primary-color);
}
.project:hover a{
    background-position: bottom center;
}