@media (max-width: 1430px) {
    .header-right{
        display: none !important;
    }
    nav{
        padding: 18px 0;
    }
    .nav{
        position: absolute;
        right: 20px;
        padding: 5px 18px;
    }
    .nav-link a::after{
        bottom: -15px;
    }
}


@media (max-width: 1140px){
    .logo{
        font-size: 1.6rem;
    }
    .btn a{
        font-size: 14px;
    }
    .nav{
        padding: 5px 10px;
        font-size: 16px;
    }
        /* service section */
        .pricing-cards{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
        }
        .pricing-card:nth-child(2){
            order: 1;
        }
}

@media (max-width: 990px){
    .logo{
        font-size: 1.8rem;
    }
    .btn a{
        font-size: 16px;
    }
    nav{
        padding: 13px 0;
    }

    .nav-btn{
        display: grid;
        z-index: 1000;
    }

    .nav{
        background: linear-gradient(to top left, #6D00A8, #7e03aa, #2D005F);
        font-size: 1.4rem;
        z-index: 100;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 50%;
        gap: 50px;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        opacity: 0 !important;
        transform: translateX(100%) !important;
        border-radius: 0;
        flex-direction: column;
        padding: 150px 0 0 30px;
        box-shadow: none;
    }
    
    .nav.active{
        opacity: 1 !important;
        transform: translateX(0) !important;
    }    

    .home-info{
        text-align: center;
        justify-content: center !important;
        align-items: center !important;
    }

    .home-details h1{
        font-size: 90px;
    }

    .home-details h2{
        font-size: 40px;
    }
    
    .home-info p{
        font-size: 16px;
    }
    .home-btn{
        align-self: center;
    }
    .cards{
        gap: 12px;
    }
    .card{
        padding: 20px;
    }
    .service-text{
        font-size: 16px;
    }
    .contact-heading{
        font-size: 60px !important;
    }
    .social-link{
        width: 40px;
        height: 40px;
    }

    .social-link i{
        font-size: 18px;
    }

    .copyright-msg{
        font-size: 16px;
    }

    /* About section */
    .about-section h2{
        font-size: 60px;
    }
    .about-section p{
        font-size: 16px;
    }
}

@media (max-width: 790px){
    #home{
        height: 70vh;
    }

    .cards{
        grid-template-columns: repeat(2,1fr);
    }

    .contact-section{
        grid-template-columns: repeat(1,1fr);
    }
    .contact-left{
        display: flex;
        justify-content: center;
    }
    .contact-heading{
        font-size: 2rem !important;
        text-align: center;
    }
    .footer-content{
        flex-direction: column;
        gap: 14px;
    }
    .footer-content .logo{
        margin-right: 0;
    }
}