
/* Home Section */

.home-info h2{
  font-size: 50px;
  font-family: var(--font-2);
  font-weight: 700;
  background: var(--gradient);
  background-size: 120%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-info h1{
  font-size: 110px;
  font-family: var(--font-1);
  font-weight: 900;
  font-style: normal;
  margin-bottom: 20px;
  background: var(--header);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text 3s linear infinite;
}



.home-btn{
  padding:  0.5em 1.8em;
  margin-top: 25px;
  align-self: flex-start;
}


/* What we offer */
.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.card{
  background: black;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}


.card-img{
    width: 70px;
    height: 70px;
    border: 2px solid var(--primary-color);
    background: black;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: all 0.5s ease-in-out;
}
.card-img:hover{
  background: var(--gradient);
  border-color: var(--secondary-color);
}
.card-img:hover i{
  color: var(--white);
}
.card-img i{
  font-size: 30px;
  color: var(--secondary-color);
  transition: all 0.5s ease-in-out;
}

.card-header{
  font-size: 22px;
  font-family: var(--font-1);
  font-weight: 700;
  background: var(--gradient);
  background-size: 120%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-text{
    font-family: var(--font-2);
    font-size: 1rem;
    color: var(--white);
}

